header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.welcome-title {
  color: #333;
  font-size: 40px;
}

.section-about-us {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  padding: 50px;
  width: 50%;
  font-size: 40px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.btn-transition {
  display: flex;
  align-items: center;
  justify-content: center;
}

.transition {
  margin: 10px 20px;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  margin: 40px;
  cursor: pointer;
}
/* global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  padding-inline: 15px;
  margin-inline: auto;
}

@media (min-width: 567px) {
  .container {
    width: 550px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1150px;
  }
}
/* global */

.title {
  font-size: 3rem;
  color: #007cd1;
  text-align: center;
  margin-block: 20px;
}

.form-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: fit-content;
  max-width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: -5px;
  flex-wrap: wrap;
}

form input {
  padding: 7px;
  border: 1px solid #ccc;
  outline: none;
  margin: 5px;
  max-width: 100%;
}

@media (max-width: 1200px) {
  .welcome-title {
    font-size: 2.2rem;
  }
  .description {
    margin-top: 100px;
    padding: 160px;
    width: 100%;
    font-size: 40px;
  }
  .transition {
    margin: 100px;
    font-size: 30px;
    width: 300px;
    height: 100px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
  .welcome-title {
    font-size: 1.8rem;
  }
  .description {
    padding: 100px;
  }
}

.photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

.photos img {
  object-fit: cover;
  width: 100%;
  height: 370px;
}

.invalid-input {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
  width: 400px;
  max-width: 100%;
  box-shadow: 0 0 20px rgb(0 0 0 / 0.4);
  padding: 20px;
  border-radius: 20px;
}

.search-button {
  padding: 7px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: block;
  margin-left: 5px;
}

.about {
  text-align: center;
  margin-bottom: 20px;
}

body.show-loader .loader {
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 0.6);
}

body.show-loader {
  overflow: hidden;
}

.loader {
  display: none;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: scale(1.5);
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
